.diez_de_diamantes, .sota_de_diamantes, .reina_de_diamantes, .rey_de_diamantes, .as_de_diamantes{
    position: absolute;
}

.diez_de_diamantes{
    z-index: 5;
    top: 20px;
    left: 20px;
}

.sota_de_diamantes{
    z-index: 4;
    top: 40px;
    left: 40px;
}

.reina_de_diamantes{
    z-index: 3;
    top: 60px;
    left: 20px;
}

.rey_de_diamantes{
    z-index: 2;
    top: 80px;
    left: 80px;
}

.as_de_diamantes{
    z-index: 1;
    top: 100px;
    left: 100px;
}