@import url(https://fonts.googleapis.com/css?family=Muli);

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Muli', sans-serif;
    text-align: justify;
}

header{
    background: #16a085;
    height: 130px;
    overflow: hidden;
}

footer{
    margin-top: 20px;
    background: #16a085;
    height: 50px;
}

header div, footer div{
    width: 80%;
    margin: 0 auto;
    color: white;
}

h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

h2{
    font-size: 2rem;
}

section{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}

section article{
    font-size: 0.9rem;
    height: 340px;
    width: 32.33%;
    float: left;
    border: 2px dashed #16a085;
    padding: 1%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0.5%;
}

section article img{
    height: 180px;
    max-width: 80%;
    margin: 5px auto;
    display: block;
}

article h3{
    text-align: center;
}

footer div{
    padding-top: 1rem;
}