body{
    background-color: lightblue;
}

.container{
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

li{
    list-style-type: none;
    padding: 10px;
    border: 2px solid gray;
}

li:nth-child(3n+3){                 /*iterador que empieza en 0*/
    background-color: blueviolet;
}

li:nth-child(even){
    background-color: blueviolet;
}

li:nth-child(odd){
    background-color: crimson;
}

table{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

thead{
    background-color: darkmagenta;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(2n+2){
    background-color: lightgray;
}

tbody tr:hover{
    background-color: darkmagenta;
    color: white;
}

